{% extends "base.html" %}
{% block content %}
<h2>Новая задача</h2>

<form class="box" method="post" action="{{ url_for('task_new_submit') }}" enctype="multipart/form-data">
  <label>Название
    <input name="title" required>
  </label>

  <label>Приоритет (1..5)
    <input name="priority" type="number" min="1" max="5" value="3">
  </label>

  <label>Срок (опционально)
    <input name="due_date" type="datetime-local">
  </label>

  <label>Описание
    <textarea name="description" rows="4"></textarea>
  </label>

  <label>Теги (через запятую)
    <input name="tags" placeholder="учёба, курсовая">
  </label>

  <label>Комментарий
    <input name="comment">
  </label>
  <label>Файл (опционально)
    <input type="file" name="file">
  </label>
  <label>Подзадачи (каждая с новой строки)
    <textarea name="subtasks" rows="4"></textarea>
  </label>

  <button type="submit">Создать</button>
  <a class="btn" href="{{ url_for('tasks_list') }}">Назад</a>
</form>
{% endblock %}
